.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* additional css */

.data-select {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.data-select-btn {
  text-align: center;
}

.chart-title {
  text-align: left;
}

.directions-text {
  text-align: justify;
}

.chart-pane {
  float: right;
  /* width: 600px; */
  width: 100%;
  margin-left: 30px;
  /* margin-bottom: 50px; */
  height: 100%;
  margin-top: 20px;
}

.chart-pane-split {
  width: 100%;
  margin-top: 20px;
}

.line-chart-container {
  width: 100%;
  display: block;
  /* display: inline-flex; */
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.chart-container-split {
  width: 100%;
  margin: 0;
}

.chart-container {
  width: 100%;
}

.data-pane {
  width: 100%;
  /* float: left; */
  /* padding: 10px 5px 5px 5px; */
  text-align: left;
  display: flex;
  flex-direction: column;
  /* background-color: lightgray; */
}

/* .chart-pane {
  float: right;
  width: 600px;
  margin-left: 30px;
  height: 100%;
} */

.data-pane2 {
  width: 100%;
  /* padding: 0px 5px 10px 5px; */
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.input-grp {
  width: 100%;
}

.input-grp-split {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: stretch;
  flex-wrap: wrap;
}

.species1-pane-split {
  width: calc(50% - 5px);
}

.species2-pane-split {
  width: calc(50% - 5px);
  margin-left: 10px;
}

.general-pane>* {
  min-width: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 5px 5px 0px;
}

.species1-pane>* {
  min-width: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 5px 5px 0px;
}

.species1-pane-split>* {
  min-width: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 5px 5px 0px;
}

.species2-pane-split>* {
  min-width: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 5px 5px 0px;
}

.species-heading {
  background-color: #d6d6d6;
  height: 35px;
  align-items: center;
  padding-left: 10px;
  font-size: 15px;
  color: black;
  border-radius: 2px;
  margin-top: 0;
  margin-bottom: 8px;
  /* border: 1px solid teal; */
}

.input-field {
  width: 100%
}

.btn-container2 {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  /* margin-top: 5px; */
  justify-content: center;
}

.control-btn {
  width: 100%;
  /* border-radius: 10px; */
  margin: 0px 1px;
}

.reset-btn-container {
  width: 100%;
}

.reset-btn {
  width: 100%;
  margin: 0px 1px 20px 0px;
}

#species-dropdown-btn {
  width: 100%;
  border: none;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #36454F;
  margin-bottom: 0px;
  /* margin-top: 20px */
}

.logistic-type-dropdown-btn {
  width: 100%;
  background-color: teal;
  color: white;
}

#logistic-type-dropdown-btn {
  width: 100%;
  border: none;
  text-align: center;
  font-weight: bold;
  /* color: white;
  background-color: #36454F; */
  margin-bottom: 5px;
  /* margin-top: 20px; */
  /* background-color: teal;
  color: white; */
  border: 1px teal solid;
  color: teal
}

#species-dropdown-label {
  margin-top: 20px;
  margin-bottom: 0px
}

.btn-container>* {
  margin-top: 10px;
  display: block;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
}

.function-value-label-span {
  font-weight: bold;
  padding: 5px 0px;
}

.function-value-span {
  width: 100%;
  /* margin-left: 10px; */
  padding: 5px 0px 0px 10px;
  display: inline-block;
  /* background-color: lightgray; */
  /* background-color: #737373;
  color: white; */
}

.input-label-btn {
  min-width: 90px;
  display: inline-block;
  font-style: italic;
  text-align: left;
}


.directions-text {
  text-align: left;
}

.animation-div {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  align-content: space-around;
  justify-content: space-between;
  flex-direction: row;
}

.input-col {
  /* margin: 0 15px; */
  border-right: .5px solid gray;
}

.equation-heading-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.equation-heading {
  font-style: italic;
  display: inline-flex;
  /* margin-right: 60px; */
}

.visual-container {
  height: 100%;
  min-height: 160px;
  display: block;
  /* border: 1px solid; */
  /* margin-left: 50px; */
  margin-top: 10px;
  /* padding: 5px 0px 0px 25px; */
}

.tangent-switch-container {
  width: 100%;
  /* display: inline-flex;
  flex-direction: row; */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.switch-label {
  min-width: 100px;
  margin-right: 0px;
}

.switch-btn {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.switch-container {
  min-height: 40px;
  position: relative;
  padding-left: 10px;
}

.nds-field__info {
  margin-right: 0px;
}

.nds-switch {
  position: relative;
  width: 100%;
}

.chart-title {
  text-align: center;
  margin-bottom: 0px;
  color: #313131;
}

.equation-img-sm {
  height: 24px;
  margin-right: 10px;
  margin-top: 20px
}

.equation-img-md {
  height: 36px;
  margin-right: 60px;
  margin-top: 20px
}

.equation-img-lg {
  height: 48px;
  margin-right: 60px;
  margin-top: 20px
}

.equation-img-spacer {
  width: 60px;
}

.data-pane-container {
  width: 50%;
  display: inline-block;
}

.chart-pane-split {
  width: 100%;
  display: inline-block;
  margin: 0px;
}

.chart-pane {
  width: 100%;
  display: inline-block;
  margin: 0px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  min-width: 350px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* .nds-switch {
  width: calc(50% - 10px)
} */

@media only screen and (max-width: 840px) {
  .chart-pane {
    float: right;
    /* width: 600px; */
    width: 100%;
    margin-left: 30px;
    /* margin-bottom: 50px; */
    height: 100%;
  }

  .chart-container-split {
    width: 100%;
    margin: 0;
  }

  .line-chart-container {
    display: block;
  }

  .equation-heading {
    margin-right: 0px;
  }

  .data-pane {
    width: 100%;
    /* float: left; */
    /* padding: 10px 5px 5px 5px; */
    text-align: left;
    display: flex;
    flex-direction: column;
    /* background-color: lightgray; */
  }
}